html,body{
	width:100%;
	height:100%;
	background:#111;
}

body {
  margin-left: 25px;
  margin-right: 25px;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #62d2d9;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
